numpy==1.22.3
pandas==1.4.2
matplotlib==3.5.1
scipy==1.8.0
scikit-learn==1.0.2
requests==2.27.1
flask==2.0.3
django==4.0.4
beautifulsoup4==4.10.0
tensorflow==2.8.0
torch==1.10.2
keras==2.8.0
plotly==5.6.0
dash==2.3.1
streamlit==1.8.1
fastapi==0.75.2
sqlalchemy==1.4.32
pytorch-lightning==1.6.0
spacy==3.2.4
gensim==4.1.2
pytest==7.1.1
mock==4.0.3
pylint==2.13.5
jupyter==1.0.0
notebook==6.4.8
ipython==8.2.0
xlrd==2.0.1
openpyxl==3.0.9
Pillow==9.0.1
opencv-python==4.5.5.64
scikit-image==0.19.2
imageio==2.16.1
pyyaml==6.0
configparser==5.2.0
cryptography==36.0.2
pyopenssl==22.0.0
paramiko==2.10.3
fabric==2.6.0
ansible==5.7.1
celery==5.2.3
redis==4.2.2
pymongo==4.1.0
sqlparse==0.4.2
alembic==1.7.7
django-rest-framework==3.13.1
flask-restful==0.3.9
selenium==4.1.3
geopandas==0.10.2
folium==0.12.1
shapely==1.8.1
pyproj==3.3.0
fiona==1.8.21
rasterio==1.2.10
netCDF4==1.5.8
xarray==0.20.2
pyqt5==5.15.6
pygtk==2.24.0
wxpython==4.1.1
kivy==2.0.0
pyglet==1.5.26
pygame==2.1.2
bokeh==2.4.2
seaborn==0.11.2
altair==4.2.0
statsmodels==0.13.2
sympy==1.10.1
networkx==2.7.1
igraph==0.9.10
neo4j==4.4.3
dask==2022.2.0
ray==1.11.0
numba==0.55.1
cython==0.29.28
pyspark==3.2.1
pyarrow==7.0.0
h5py==3.6.0
zarr==2.10.3
luigi==3.1.1
airflow==2.3.0
nifi==1.16.3
prefect==1.0.0
dbt==1.0.0
snowflake-sqlalchemy==1.3.4
psycopg2==2.9.3
pyodbc==4.0.32
cx_oracle==8.3.0
pymysql==1.0.2
elasticsearch==8.1.2
cassandra-driver==3.25.0
pysolr==3.9.0
py2neo==2021.2.3
boto3==1.21.42
google-cloud-storage==2.2.1
azure-storage-blob==12.10.0
pytest-django==4.5.2
pytest-flask==1.2.0
tox==3.25.0
bandit==1.7.1
safety==1.10.3
black==22.3.0
isort==5.10.1
mypy==0.942
pydocstyle==6.1.1
sphinx==4.4.0
mkdocs==1.3.0